h1{ color: red;}

.header {
    padding: 60px;
    text-align: center;
    background: hsl(268, 88%, 42%);
    color: white;
    font-size: 30px;
  }

  .mainBody {
    max-width: 550px;
    margin: auto;
    text-align: center; 
    font-size: large;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .content {padding:20px;}  